.selected-movie-container{
    margin: 100px auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 20px;
    }
.selected-movie-image{
    float: left;
    margin: 0 32px 10px 0;
    border-radius: 1em;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    min-width: 280px;
}
a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
}
.subtitle {
    margin-bottom: 10px;
    opacity: 0.4;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}
.description {
    margin-bottom: 30px;
}
.params {
    list-style-type: none;
    max-width: 500px;
}
.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px;
}
.tag {
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    border-radius: 6px; 
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-top: -3px;
}
.rathing-main {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #7B61FF;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrapper {
        grid-template-columns: 250px 1fr 150px;
        grid-gap: 30px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 150px;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper-col-3 {
        grid-row: 1 / 3;
        grid-column: 2;
    }
}

@media (max-width: 425px) {
    .wrapper {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .wrapper-col-3 {
        grid-row: unset;
        grid-column: 1;
    }
}